.edit_profile_wrapper{
    width: 100%;
    overflow-x: hidden;
    background: #E5E5E5;
    display: grid;
	grid-gap: 10px;
    height: 700px;
    &_content{
        width: 70%;
        background: #fff;
        display: grid;
        grid-gap: 10px;
        margin-left: 350px;
        margin-top: 70px;
    }
    }